.mx_StatusBar {
  width: 80%;
  border-width: 10px 30px;
  border-style: solid;
  border-color: rgb(9, 117, 194);
  border-radius: 10px;
  background-color: rgb(22, 21, 21);
  display: flex;
  flex-direction: column;
  color: rgb(93, 166, 255);
  padding: 10px 50px;
  &_header {
    width: 100%;
    height: 40px;
    font-size: 15px;
    font-size: 35px;
  }
  &_body {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    font-family: DigitFont;
    letter-spacing: 10px;
    font-size: 80px;
  }
  &_symbol {
    width: 40px;
    height: 100%;
    padding-top: 15px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    div {
      width: 20px;
      height: 20px;
      border: 7px solid rgb(93, 166, 255);
      border-radius: 50%;
    }
  }
  &_parameter {
    margin-left: 50px;
  }
}
